@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

body {
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom */
.clip-path-home-tile {
  -webkit-clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

